.App {
  text-align: center;
  border: 5px solid black;
  width: 50%;
  height: 350px;
  margin: auto;
  margin-top: 40px;
 
}

.banner{
  display: flex;
  justify-content: space-evenly;
  color:  purple;

}

.addScore1{
  margin: 10px;
  background-color: teal;
  font-weight: 700;
}
.addScore4{
  margin: 10px;
  background-color: teal;
  font-weight: 700;
}
.addScore6{
  margin: 10px;
  background-color: teal;
  font-weight: 700;
}


.addWicket > button {
  margin: 10px;
  background-color: teal;
  font-weight: 700;
}

.addBall > button {
  margin: 10px;
  background-color: teal;
  font-weight: 700;
}